#canvas {
    border: 2px dashed #cccccc;
  }
  
  .images-item-upload {
    width: 150px;
  }

  ::ng-deep {
    .canvas-container, .lower-canvas, .upper-canvas {
        width: 100% !important;
    }
  }
  .template-holder {
    min-height: 208px;
    overflow: auto;
    width: 500px;
  }
  .template-holder p {
    display: -webkit-box;
    max-width: 247px;
    text-align: justify;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }